[Unit]
Description = django_scrcpy
After = network.target

[Service]
ExecStart = /home/lim/miniconda3/bin/uvicorn django_scrcpy.asgi:application --host :: --port 8000 --workers 4 --lifespan off
ExecStop = make stop
WorkingDirectory = /mnt/sdb1/develop/project/django_scrcpy
#StandardOutput = null
#StandardError = null
Restart = always
User = lim

[Install]
WantedBy=multi-user.target

