<html>
<head>
  <title>{{device_id}}</title>
</head>
<body>
<div id='container' style="display: inline-block;"></div>
<div style="display: inline-block; vertical-align:top;">
  <div>
    <input id="get_clipboard" style="height:40px;width:200px;margin-bottom:5px;">
    <button id="get_clipboard_button">get_clipboard</button>
  </div>
  <div>
    <input id="set_clipboard" style="height:40px;width:200px;margin-bottom:5px;" placeholder="please paste here">
    <button id="set_clipboard_button">set_clipboard</button>
  </div>
  <div>
    <input id="Checkbox_menu" type="checkbox" value="82"/>
    <button id="menu_button">menu</button>
    <input id="Checkbox_home" type="checkbox" value="3"/>
    <button id="home_button">home</button>
    <input id="Checkbox_back" type="checkbox" value="4"/>
    <button id="back_button">back</button>
  </div>
  <div>
    <input id="Checkbox_v+" type="checkbox" value="24"/>
    <button id="v+_button">v+</button>
    <input id="Checkbox_v-" type="checkbox" value="25"/>
    <button id="v-_button">v-</button>
    <input id="Checkbox_power" type="checkbox" value="26"/>
    <button id="power_button">power</button>
  </div>
  <div>
    <a id="capture"></a><button id="capture_button">capture</button>
    <button id="multi-key_button">multi-key</button>
  </div>
</div>
<script type="text/javascript" src="/static/general/js/Decoder.js"></script>
<script type="text/javascript" src="/static/general/js/YUVCanvas.js"></script>
<script type="text/javascript" src="/static/general/js/Player.js"></script>
<script>
      // 0.keycode事件
      function inject_keycode(keycode, action){
        msg = {
          msg_type: 0,
          keycode: keycode,
          action: action
        }
        ws.send(JSON.stringify(msg))
      }

      // 1.text事件
      function inject_text(text){
        msg = {
          msg_type: 1,
          text: text,
        }
        ws.send(JSON.stringify(msg))
      }

      // 2.touch事件
      function inject_touch_event(pix_data, action){
        msg = {
          msg_type: 2,
          action: action,
          x: pix_data[0],
          y: pix_data[1],
        }
        ws.send(JSON.stringify(msg))
      }

      // 3.scroll事件
      function inject_scroll_event(pix_data){
        msg = {
          msg_type: 3,
          x: pix_data[0],
          y: pix_data[1],
          distance_x: pix_data[2],
          distance_y: pix_data[3],
        }
        ws.send(JSON.stringify(msg))
      }

      // 8.get_clipboard
      function get_clipboard(copy_key=1){
        msg = {
          msg_type: 8,
          copy_key: copy_key
        }
        ws.send(JSON.stringify(msg))
      }

      // 9.set_clipboard
      function set_clipboard(text, sequence=1, paste=true){
        msg = {
          msg_type: 9,
          text: text,
          sequence: sequence,
          paste: paste
        }
        ws.send(JSON.stringify(msg))
      }

      // 30.swipe
      function swipe(pix_data, delay=0, unit=13){
        delay = parseFloat(delay.toFixed(2))
        if (delay <= 3 && delay >=0){
          msg = {
            msg_type: 30,
            x: pix_data[0],
            y: pix_data[1],
            end_x: pix_data[2],
            end_y: pix_data[3],
            unit: unit,
            delay: delay,
          }
          ws.send(JSON.stringify(msg))
        }
      }
</script>
<script>
      // 节流函数
      function throttle(fn,during) {
        let t = null
        return function(e){
            if(!t){
                t = setTimeout(()=>{
                    fn.call(this,e)
                    t = null
                },during)
            }
        }
      }

      // 获取鼠标在元素内的坐标
      function get_pointer_position(event, ele){
        x = event.clientX - ele.offsetLeft + window.scrollX;
        x = parseInt(x);
        x = Math.min(x, ele.width);
        x = Math.max(x, 0);
        y = event.clientY - ele.offsetTop + window.scrollY;
        y = parseInt(y);
        y = Math.min(y, ele.height);
        y = Math.max(y, 0);
        return [x, y]
      }

      // canvas鼠标移动事件处理函数
      function canvas_mouse_move(event) {
          pix_data = get_pointer_position(event, this)
          inject_touch_event(pix_data, 2)
      }

      // touch事件
      function add_canvas_touch_event(ele){
          // 在window对象记录touch开始
          window.touch_start = null
          // 节流的mouse_move
          efficient_canvas_mouse_move = throttle(canvas_mouse_move, 30);
          // 1.mousedown
         ele.addEventListener('mousedown', function (event) {
            if(event.buttons == 1){
              window.touch_start = true
              this.removeEventListener("mousemove", efficient_canvas_mouse_move)
              pix_data = get_pointer_position(event, this)
              inject_touch_event(pix_data, 0)
              this.addEventListener('mousemove', efficient_canvas_mouse_move)
            }
          })
          // 2.mouseup
         ele.addEventListener('mouseup', function (event) {
            if (window.touch_start){
              window.touch_start = false
              pix_data = get_pointer_position(event, this)
              inject_touch_event(pix_data, 1)
              this.removeEventListener("mousemove", efficient_canvas_mouse_move)
            }
        })
          // 3.mouseout
        ele.addEventListener('mouseout', function (event) {
            if (window.touch_start){
              window.touch_start = false
              pix_data = get_pointer_position(event, this)
              inject_touch_event(pix_data, 1)
              this.removeEventListener("mousemove", efficient_canvas_mouse_move)
            }
        })
      }

      // swipe事件
      function add_canvas_swipe_event(ele){
         window.swipe_start = null
         window.swipe_start_pix_data = null
          // 1.mousedown
         ele.addEventListener('mousedown', function (event) {
            if(event.buttons == 4){
              window.swipe_start = Date.now()
              window.swipe_start_pix_data = get_pointer_position(event, this)
            }
          })
          // 2.mouseup
         ele.addEventListener('mouseup', function (event) {
            if (window.swipe_start){
              swipe_end = Date.now()
              delay = (swipe_end - window.swipe_start)/1000
              window.swipe_start = null
              swipe_end_pix_data = get_pointer_position(event, this)
              pix_data = window.swipe_start_pix_data.concat(swipe_end_pix_data)
              window.swipe_start_pix_data = null
              swipe(pix_data, delay)
            }
        })
          // 3.mouseout
        ele.addEventListener('mouseout', function (event) {
            if (window.swipe_start){
              swipe_end = Date.now()
              delay = (swipe_end - window.swipe_start)/1000
              window.swipe_start = null
              swipe_end_pix_data = get_pointer_position(event, this)
              pix_data = window.swipe_start_pix_data.concat(swipe_end_pix_data)
              window.swipe_start_pix_data = null
              swipe(pix_data, delay)
            }
        })
      }

      // 处理canvas mouse scroll
      function canvas_mouse_scroll(event) {
        pix_data = get_pointer_position(event, this)
        if (event.deltaX >0){
          distance_x = -5
        } else{
          distance_x = 5
        }
        pix_data[2] = distance_x
        if (event.deltaY >0){
          distance_y = -5
        } else{
          distance_y = 5
        }
        pix_data[3] = distance_y
        inject_scroll_event(pix_data)
      }

      // scroll事件
      function add_canvas_scroll_event(ele){
        efficient_canvas_mouse_scroll = throttle(canvas_mouse_scroll, 100);
        ele.addEventListener("wheel", efficient_canvas_mouse_scroll)
      }
</script>
<script>
  // 处理设置剪切板
  function button_handle_set_clipboard(){
    var ele = document.getElementById('set_clipboard')
    if (ele.value){
        set_clipboard(ele.value)
        ele.value = ''
    }
  }

  // 处理获取剪切板
  function button_handle_get_clipboard(){
    get_clipboard(1)
  }

  // 处理截图
  function button_handle_capture(){
      var ele = document.getElementById('capture')
      ele.href = player.canvas.toDataURL()
      ele.download = window.device_id + '_' + (new Date().formatCode()) + '.png'
      ele.click()
  }

  // 处理同时按2个键
  function button_handle_multi_key(){
    key_list = ['menu', 'home', 'back', 'v+', 'v-', 'power']
    checked_key_list = []
    for (var key of key_list){
      checkbox = document.getElementById('Checkbox_' + key)
      if (checkbox.checked){
         checked_key_list.push(parseInt(checkbox.value))
      }
      if (checked_key_list.length==2){
        break
      }
    }
    if (checked_key_list.length>=2){
      inject_keycode(checked_key_list[0], 0)
      inject_keycode(checked_key_list[1], 0)
      inject_keycode(checked_key_list[1], 1)
      inject_keycode(checked_key_list[0], 1)
    }
  }

  // 处理button长按事件
  function button_mouse_up_down(ele, keycode){
     button_mouse_up_down_keycode = 'button_mouse_up_down' + keycode
     window.button_mouse_up_down_keycode = null
     // 1.mousedown
     ele.addEventListener('mousedown', function (event) {
        if(event.buttons == 1){
          inject_keycode(keycode, 0)
          window.button_mouse_up_down_keycode = true
        }
      })
      // 2.mouseup
     ele.addEventListener('mouseup', function (event) {
       if (window.button_mouse_up_down_keycode){
         inject_keycode(keycode, 1)
         window.button_mouse_up_down_keycode = null
       }
     })
      // 3.mouseout
     ele.addEventListener('mouseout', function (event) {
       if (window.button_mouse_up_down_keycode){
         inject_keycode(keycode, 1)
         window.button_mouse_up_down_keycode = null
       }
     })
  }
</script>
<script >
      // 1.记录device_id到window对象
      window.device_id =  "{{device_id}}"
      window.query_param = window.location.href.split('?')[1]
      window.query_param_dict = JSON.parse(decodeURIComponent(window.query_param.split('=')[1]))
      // 2.给Date对象增加时间格式化方法
      Date.prototype.formatCode = function (formatStr = "yyyy-MM-DD HH:mm:ss") {
        const paddingZero = num => num >= 10 ? num : '0' + num;
        let str = formatStr;
        str = str.replace(/yyyy|YYYY/, this.getFullYear());
        str = str.replace(/MM/, paddingZero(this.getMonth() + 1));
        str = str.replace(/dd|DD/, paddingZero(this.getDate()));
        str = str.replace(/hh|HH/, paddingZero(this.getHours()));
        str = str.replace(/mm/, paddingZero(this.getMinutes()));
        str = str.replace(/ss/, paddingZero(this.getSeconds()));
        str = str.replace(/SS/, paddingZero(this.getMilliseconds()));
        return str;
      };
      // 3.初始化播放器, 给播放器添加事件监听，播放器增加到dom中
      var playerElement = document.getElementById('container')
      window.player = new Player({ useWorker: true, webgl: 'auto', size: { width: 336, height: 720 }, workerFile: "/static/general/js/Decoder.js", preserveDrawingBuffer: true});
      playerElement.appendChild(window.player.canvas);
      // 4.绑定事件监听
      document.getElementById('capture_button').addEventListener('click', button_handle_capture)
      if (window.query_param_dict['control'] != false){
        add_canvas_touch_event(window.player.canvas);
        add_canvas_swipe_event(window.player.canvas);
        add_canvas_scroll_event(window.player.canvas);
        button_mouse_up_down(document.getElementById('menu_button'), 82);
        button_mouse_up_down(document.getElementById('home_button'), 3);
        button_mouse_up_down(document.getElementById('back_button'), 4);
        button_mouse_up_down(document.getElementById('v+_button'), 24);
        button_mouse_up_down(document.getElementById('v-_button'), 25);
        button_mouse_up_down(document.getElementById('power_button'), 26);
        document.getElementById('get_clipboard_button').addEventListener('click', button_handle_get_clipboard)
        document.getElementById('set_clipboard_button').addEventListener('click', button_handle_set_clipboard)
        document.getElementById('multi-key_button').addEventListener('click', button_handle_multi_key)
      }
      // 5.初始化websocket
      var ws_url = "ws://" + document.location.host + "/stream/device/" + "{{device_id}}" + "/?" + window.query_param
      var ws = new WebSocket(ws_url)
      ws.binaryType = 'arraybuffer'
      ws.onopen = function (e) {
          console.log('Client connected')
      }
      ws.onmessage = function (msg) {
          unit8_data = new Uint8Array(msg.data)
          start_code = unit8_data.slice(0, 5).join('')
          // 1.视频流数据
          if (start_code.startsWith('0001')){
            window.player.decode(unit8_data);
          }
          //2.其它流数据
          else if(start_code.startsWith('0002')){
            data = unit8_data.slice(5)
            if (start_code.endsWith('0')){
                string_data = new TextDecoder("utf-8").decode(data);
                document.getElementById('get_clipboard').value = string_data
            }
            else if(start_code.endsWith('1')){
                console.log("paste_sequence:", data)
            }
          }
      }
      ws.onclose = function (e) {
          console.log('Client disconnected')
      }
</script>
</body>
</html>