<html>
<head>
  <title>{{device_id}}</title>
</head>
<body>
<div id='container'></div>
<!--  <script type="text/javascript" src="/static/general/js/Decoder.js"></script>-->
  <script type="text/javascript" src="/static/general/js/YUVWebGLCanvas.js"></script>
  <script type="text/javascript" src="/static/general/js/Player.js"></script>
  <script>
		var playerElement = document.getElementById('container')

		function init_player(){
		    for (var child of playerElement.childNodes){
		      playerElement.removeChild(child)
		    }
            window.player = new Player({ useWorker: true, webgl: 'auto', size: { width: 416, height: 896 }, workerFile: "/static/general/js/Decoder.js" })
            playerElement.appendChild(window.player.canvas)
		}

		var ws_url = "ws://" + document.location.host + "/stream/device/" + "{{device_id}}" + "/?" + window.location.href.split('?')[1]
        var ws = new WebSocket(ws_url)
        ws.binaryType = 'arraybuffer'
        ws.onopen = function (e) {
            console.log('Client connected')
        }
        ws.onmessage = function (msg) {
            unit8_data = new Uint8Array(msg.data)
            if (unit8_data[4]==103){
              console.log("初始化播放器")
              init_player()
            }
            window.player.decode(unit8_data);
        }
        ws.onclose = function (e) {
            console.log('Client disconnected')
        }
  </script>
</body>
</html>